button:disabled:before {
    background: linear-gradient(180deg, #ff3000, #fc8d8c, #ff096c, #d50082);
}

button:disabled {
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #fc8d8c, #ff096c, #d50082);
    border-image-slice: 1;
}

button {
    text-decoration: none;
    color: white;
    background: transparent;
    display: inline-block;
    position: relative;
    min-width: 150px;
    padding: 15px 30px;
    width: 10vw;
    border: 1px solid;
    border-image: linear-gradient(180deg, #b3f000, #00ed20, #09ff80, #00d5aa);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #b3f000, #00ed20, #09ff80, #00d5aa);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
button:hover {
    background: rgba(255, 255, 255, 0);
}
button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}